<script>
    import MobileNav from './../components/MobileNav.svelte';
    import MobileProfile from './../components/MobileProfile.svelte';
    import MobileCTA from './../components/MobileCTA.svelte';
    import SectionRatings from './../components/SectionRatings.svelte';
    import MobileTabs from './../components/MobileTabs.svelte';
    import MobileFollowers from './../components/MobileFollowers.svelte';
    import MobileReviewRatings from './../components/MobileReviewRatings.svelte';
    import MobileMap from './../components/MobileMap.svelte';
    import MobileVisitorPosts from './../components/MobileVisitorPosts.svelte';
    import MobileUserReviews from './../components/MobileUserReviews.svelte';
    import MobileGallery from './../components/MobileGallery.svelte';
    import SectionNewsFeed from './../components/SectionNewsFeed.svelte';

    const settings = {
        viewport: 'mobile',
        coverPhoto: './images/cover-photo.jpg',
        profilePicture: './images/profile-picture.png',
        profileName: 'Every Interaction',
        profileURL: '@Every Interaction',
        userPhoto: './images/user.jpg',
        userName: 'Aaron Real',
        userFirstName: 'Aaron',
        map: './images/static_map.png',
        serviceLocation: 'Business Service &middot; London, United Kingdom',
    };
</script>

<!-- navigation mobile -->
<MobileNav profileName={settings.profileName} />
<!-- header mobile -->
<header class="lg:hidden header header-mobile bg-white">

    <!-- profile mobile -->
    <MobileProfile {...settings} />

    <!-- cta mobile -->
    <MobileCTA />

    <!-- rating section mobile -->
    <SectionRatings serviceLocation={settings.serviceLocation}/>

    <!-- mobile tabs -->
    <MobileTabs />
</header>

<!-- section followers mobile -->
<MobileFollowers userName={settings.userName}/>

<!-- section review ratings mobile -->
<MobileReviewRatings />

<!-- section profile description mobile -->
<MobileMap map={settings.map} />

<!-- section visitor posts mobile -->
<MobileVisitorPosts />

<!-- section user reviews mobile -->
<MobileUserReviews userPhoto={settings.userPhoto} />

<!-- section gallery mobile -->
<MobileGallery profileName={settings.profileName} />

<!-- main news feed mobile -->
<main class="lg:hidden">
    <SectionNewsFeed {...settings}/>
</main>