<script>
    let liked = true;
</script>

<section class="cover-photo-cta-container bg-white p-3 flex flex-row mb-3 rounded-r rounded-b">
	<div class="w-3/5">
		<div class="call-to-actions flex flex-row items-center justify-start">
			<button class="cta-button like-button  block flex items-center justify-center flex-row bg-gray-100 px-3 py-1 border border-solid border-gray-300 focus:outline-none border-r-0 rounded-t rounded-l pr-0"
			class:active="{liked}"
			on:click="{() => liked = !liked}">
				<i class="material-icons text-gray-500 text-base mr-1 thumbs_up_icon">thumb_up</i>
				<span class="text-gray-500 text-xs font-semibold">{liked ? 'Liked' : 'Like'}</span>
				<i class="material-icons text-gray-500 text-2xl">arrow_drop_down</i>
			</button>
			<button class="cta-button block flex items-center justify-center flex-row bg-gray-100 px-3 py-1 border border-solid border-gray-300 focus:outline-none">
				<i class="fab fa-facebook-messenger text-gray-300 mr-1 text-sm"></i>
				<span class="text-gray-500 text-xs font-semibold">Message</span>
			</button>
			<button class="cta-button block flex items-center justify-center flex-row bg-gray-100 px-3 py-1 border border-solid border-gray-300 focus:outline-none border-l-0 rounded-r rounded-b pr-0">
				<i class="material-icons text-gray-300 text-xl mr-1">more_horiz</i>
				<span class="text-gray-500 text-xs font-semibold">More</span>
				<i class="material-icons text-gray-500 text-2xl">arrow_drop_down</i>
			</button>
		</div>
	</div>
	<div class="w-2/5 pl-4">
		<button id="contact-us" class="bg-fb-lightblue hover:bg-fb-blue w-full text-center text-white rounded text-sm text-center leading-none">
			Contact Us
		</button>
	</div>
</section>