<script>
    export let userPhoto;
    export let userName;

    import { afterUpdate } from 'svelte';

    let liked = false;

    let commentItems = [];
    let newComment = '';

    function addComment() {
        newComment = newComment.trim();

        if (!newComment) return;
        const comment = {
            text: newComment,
            id: Date.now(),
        };

        commentItems = [...commentItems, comment];
        newComment = '';
    }

    function deleteComment(id) {
        commentItems = commentItems.filter(item => item.id !== Number(id));
    }
</script>

{#each commentItems as comment (comment.id)}
<div class="comment-list bg-white border-t borde-gray-300 hidden lg:flex">
    <div class="flex flex-row items-center justify-start h-14 border-l-2 border-fb-blue px-3 py-2 overflow-hidden">
        <a class="block flex items-center mr-2" href="#">
            <img class="block h-8 comment-image" src={userPhoto} alt="">
        </a>
        <div class="comment-display overflow-hidden">
            <p class="leading-none"><a class="text-fb-blue hover:underline text-xs " href="#">{userName}</a></p>
            <p class="text-xs truncate">{comment.text}</p>
            <button class="text-xs inline-block text-fb-blue hover:underline focus:outline-none like-comment"
                    on:click="{() => liked = !liked}">{liked ? 'Liked' : 'Like'}</button>
            <span class="leading-none inline-block">&middot;</span>
            <button class="text-xs inline-block text-fb-blue hover:underline focus:outline-none"
                    on:click={() => deleteComment(comment.id)}>Delete</button>
            <span class="leading-none inline-block">&middot;</span>
            <p class="text-fb-gray text-xs inline-block">Just now</p>
        </div>
    </div>
</div>
{/each}

<section class="comment-area hidden p-3 bg-gray-100 mb-3 rounded-br lg:flex">
    <div class="write-comment w-full ">
        <div class="text-area flex flex-row items-center justify-start">
            <a class="block flex items-center mr-2" href="#">
                <img class="block h-8 comment-image" src={userPhoto} alt="">
            </a>
            <div class="comment-field-container w-full flex flex-row">
                <form class="w-full" on:submit|preventDefault={addComment}>
                    <input type="text" class="comment-field w-full p-2 h-8 border border-gray-300 border-r-0 text-xs placeholder-fb-gray focus:outline-none focus:placeholder-gray-300" placeholder="Write a comment..." bind:value={newComment}>
                </form>
                <a href="#" class="bg-white block flex items-center px-2 h-8 border border-gray-300 border-l-0 r border-r-0">
                    <i class="material-icons text-gray-300 hover:text-gray-500">photo_camera</i>
                </a>
                <a href="#" class="bg-white block flex items-center px-2 h-8 border border-gray-300 border-l-0">
                    <i class="material-icons text-gray-300 hover:text-gray-500">sentiment_satisfied_alt</i>
                </a>
            </div>
        </div>
    </div>
</section>