<section class="map-desktop rounded bg-white pb-3 mb-3">
	<div class="bg-gray-100 p-3 h-10 flex items-center">
		<p class="text-xs uppercase font-semibold">About</p>
	</div>
	<div class="static-map border-b border-gray-300 w-full">
        <img class="w-full" src="images/static_map.png" alt="">
    </div>
    <div class="map-details-container w-full flex flex-row items-center justify-start p-3">
        <i class="material-icons text-gray-300 text-base font-semibold mr-3 block">subdirectory_arrow_right</i>
        <div class="map-details pr-5">
        	<p class="leading-none">
            	<a href="#" class="text-fb-blue hover:underline text-xs font-medium">Metal Box Factory, 30 Great Guildford St SE01 OHS London</a>
        	</p>
        </div>
        <div class="map-details items-start justify-center text-center h-8">
            <a href="#" class="text-fb-blue text-xs font-medium hover:underline">Save</a>
        </div>
    </div>
    <div class="contact-details-container w-full flex flex-row items-center justify-start p-3">
        <i class="material-icons text-gray-300 text-base font-semibold mr-3 block">phone</i>
        <div class="contact-details">
        	<p class="leading-none">
            	<a href="#" class="text-black hover:underline text-xs font-medium">020 3514 0659</a>
        	</p>
        </div>
    </div>
    <div class="hours-details-container w-full flex flex-row items-center justify-start p-3">
        <i class="material-icons text-fb-lightblue text-base font-semibold mr-3 block">help_outline</i>
        <div class="hours-details">
        	<p class="leading-none">
            	<a href="#" class="text-fb-lightblue underline hover:text-fb-blue text-xs font-medium">Ask for Every Interaction's hours</a>
        	</p>
        </div>
    </div>
    <div class="hours-details-container w-full flex flex-row items-center justify-start p-3">
        <i class="material-icons text-gray-300 text-base font-semibold mr-3 block">language</i>
        <div class="hours-details">
        	<p class="leading-none">
            	<a href="#" class="text-fb-blue hover:underline text-xs font-medium">http://www.everyinteraction.com/</a>
        	</p>
        </div>
    </div>
</section>