<script>
	export let profileName;
    export let userPhoto;
</script>

<section class="share-opinion-desktop rounded bg-white pb-3 mb-3">
	<div class="p-3 flex items-center">
		<p class="text-base">Share your opinion about <strong>{profileName}!</strong></p>
	</div>
    <div class="border-b border-gray-200 w-full flex flex-row items-center justify-start p-3 pt-0">
        <div class="profile-followers-picture-container mr-3">
        	<a href="#">
        		<img src="images/stars-5.jpg" alt="" class="align-middle" />
        	</a>
        </div>
        <div class="profile-name">
        	<span class="tracking-tight text-xs text-fb-gray">You rated this place</span>
        </div>
    </div>
    <div class="w-full flex flex-row items-center justify-start p-3 pb-0">
        <div class="profile-followers-picture-container mr-3">
        	<a href="#">
        		<img src="{userPhoto}" alt="" class="h-10 align-middle" />
        	</a>
        </div>
        <div class="profile-name">
        	<a href="#" class="hover:underline">
        		<p class="tracking-tight text-xs text-fb-blue">Write your review </p>
        	</a>
        </div>
    </div>
</section>