<script>
    export let userPhoto;
    export let userName;
</script>

<section class="followers-desktop bg-white py-3 mb-3">
    <div class="profile-followers border-b border-gray-200 w-full flex flex-row items-center justify-start px-3 pb-1">
        <div class="profile-followers-picture-container mr-3">
        	<a href="#">
        		<img src="{userPhoto}" alt="" class="h-10 align-middle" />
        	</a>
        </div>
        <div class="profile-name">
        	<a href="#" class="hover:underline">
        		<span class="tracking-tight text-xs">306 people like this</span>
        	</a>
        	<a href="#" class="hover:underline">
        		<p class="tracking-tight text-xs text-fb-gray">{userName} and 3 other friends </p>
        	</a>
        </div>
    </div>
    <div class="profile-followers border-b border-gray-200 w-full flex flex-row items-center justify-start px-3 pb-1 pt-2">
        <div class="profile-followers-picture-container mr-3">
        	<a href="#">
        		<img src="{userPhoto}" alt="" class="h-10 align-middle" />
        	</a>
        </div>
        <div class="profile-name">
        	<a href="#" class="hover:underline">
        		<span class="tracking-tight text-xs">9 people have been here</span>
        	</a>
        	<a href="#" class="hover:underline">
        		<p class="tracking-tight text-xs text-fb-gray">{userName} </p>
        	</a>
        </div>
    </div>
    <div class="invite-followers border-b border-gray-200 w-full flex flex-row items-center justify-start px-3 pb-1 pt-2">
        <a href="#" class="bg-white w-10 block flex items-center justify-center mr-3 h-8">
			<i class="material-icons text-gray-300 hover:text-gray-500">person_add</i>
		</a>
        <div class="profile-name">
        	<a href="#" class="hover:underline">
        		<span class="tracking-tight text-xs">Invite friends to like this page</span>
        	</a>
        </div>
    </div>
    <div class="profile-followers border-b border-gray-200 w-full flex flex-row items-center justify-start px-3 pb-1 pt-2">
        <div class="profile-followers-picture-container mr-3">
        	<a href="#">
        		<img src="images/stars-4.jpg" alt="" class="align-middle" />
        	</a>
        </div>
        <div class="profile-name">
        	<a href="#" class="hover:underline">
        		<span class="tracking-tight text-xs">4.7 of 5 stars &nbsp;&nbsp;&nbsp;3 reviews</span>
        	</a>
        	<a href="#" class="hover:underline">
        		 <p class="tracking-tight text-xs text-fb-gray">View reviews</p>
        	</a>
        </div>
    </div>
</section>