<script>
    let gallery = [
        { id: '0', src: './images/gallery-1.jpg' },
        { id: '1', src: './images/gallery-2.jpg' },
        { id: '2', src: './images/gallery-3.jpg' },
        { id: '3', src: './images/gallery-2.jpg' },
        { id: '4', src: './images/gallery-3.jpg' },
        { id: '5', src: './images/gallery-1.jpg' },
    ];
</script>

{#each gallery as { id, src }}
    <a href="#" class="block mx-1 lg:mx-0 lg:my-1">
        <img {src} alt="" class="h-auto align-middle" />
    </a>
{/each}