<script>
    export let profileName;
    import Gallery from './../components/Gallery.svelte';
</script>


<section class="lg:hidden photos mb-3 px-4 pt-4 bg-white">
    <p class="block">Photos by {profileName}</p>
    <div class="w-full flex flex-row items-center justify-start pt-4 overflow-x-auto">
        <div class="gallery-images flex flex-row w-full">
            <Gallery />
        </div>
    </div>
    <div class="see-all flex items-center justify-center py-4">
        <a href="#" class="text-fb-gray hover:underline relative">See All <i class="material-icons absolute ">keyboard_arrow_right</i></a>
    </div>
</section>