<div class="cover-photo w-full"
     style="background-image: url('{$$props.coverPhoto}')">>
</div>
<div class="profile-section w-full flex flex-row items-center justify-start p-4 pb-5">
    <div class="profile-picture-container mr-3">
        <img src="{$$props.profilePicture}" alt="" class="border border-solid rounded-full h-auto align-middle" />
    </div>
    <div class="profile-name">
        <h1 class="text-xl sm:text-3xl tracking-tighter flex items-center">{$$props.profileName}<i class="fas fa-check-circle verified-profile text-base ml-2"></i></h1>
        <p class="text-base tracking-tight text-fb-lightgray">{$$props.profileURL}</p>
    </div>
</div>