<script>
    export let map;
</script>

<section class="lg:hidden description mb-3 pt-4 bg-white">
    <div class="description-text px-4 mb-8">
        <p class="mb-2">
            UI & web design studio focusing on interaction challenges and startup
        </p>
        <p class="mb-2">
            <a class="text-fb-lightblue hover:underline" href="#">http://www.everyinteraction.com/</a>
        </p>
        <p class="mb-2">
            <a class="text-fb-lightblue hover:underline" href="#">020 3514 0659</a>
        </p>
    </div>
    <div class="static-map border-b border-gray-300 w-full">
        <img class="w-full" src="{map}" alt="">
        <div class="map-details-container w-full flex flex-row items-center justify-start p-3">
            <i class="material-icons text-fb-gray px-3">subdirectory_arrow_right</i>
            <div class="map-details">
                <p class="text-black">Metal Box Factory, 30 Great Guildford St</p>
                <p class="text-base tracking-tight text-fb-lightgray">London, United Kingdom</p>
            </div>
            <div class="map-details items-center justify-center text-center py-5 px-2 w-2/4">
                <a href="#" class="text-fb-lightblue hover:underline">Get Directions</a>
            </div>
        </div>
    </div>
    <div class="see-all flex items-center justify-center px-4 py-4">
        <a href="#" class="text-fb-gray hover:underline relative">See All <i class="material-icons absolute ">keyboard_arrow_right</i></a>
    </div>
</section>