<section class="lg:hidden review-ratings border-b border-gray-300 px-4 pt-0 pb-3 bg-white">
    <div class="flex justify-start flex-col">
        <div class="flex items-center rating-box">
            <div class="align-middle rating-stars">
                <input name="select" id="star5" type="radio" class="hidden star"  value="5" />
                <label class="inline-block" for="star5"></label>
                <input name="select" id="star4" type="radio" class="hidden star"  value="4" />
                <label class="active inline-block" for="star4"></label>
                <input name="select" id="star3" type="radio" class="hidden star"  value="3" />
                <label class="active inline-block" for="star3"></label>
                <input name="select" id="star2" type="radio" class="hidden star"  value="2" />
                <label class="active inline-block" for="star2"></label>
                <input name="select" id="star1" type="radio" class="hidden star"  value="1" />
                <label class="active inline-block" for="star1"></label>
            </div>
            <p class="text-xl ml-2">4.7/5</p>
        </div>
        <p class="text-sm -mt-1">3 reviews</p>
    </div>
</section>