<script>
    let liked;
</script>


<div class="cta-news-feed border-t border-gray-300 p-3 h-12 flex flex flex-row items-center justify-around lg:h-6 lg:pb-0 lg:pl-0 lg:justify-start">
    <button class="cta-button like-button block flex items-center justify-center flex-row hover:opacity-75 focus:outline-none lg:mr-6 lg:w-14" 
        class:active="{liked}"
        on:click="{() => liked = !liked}">
        <i class="material-icons text-gray-400 text-xl lg:text-base mr-2 thumbs_up_icon">thumb_up</i>
        <span class="text-fb-gray text-sm font-semibold lg:text-xs">{liked ? 'Liked' : 'Like'}</span>
    </button>
    <button class="cta-button comment-button block flex items-center justify-center flex-row hover:opacity-75 focus:outline-none lg:mr-6 lg:w-14">
        <i class="material-icons text-gray-400 text-xl lg:text-base mr-2">mode_comment</i>
        <span class="text-fb-gray text-sm font-semibold lg:text-xs">Comment</span>
    </button>
    <button class="cta-button block flex items-center justify-center flex-row hover:opacity-75 focus:outline-none lg:mr-6 lg:w-14">
        <i class="material-icons text-gray-400 text-xl lg:text-lg mr-2">reply</i>
        <span class="text-fb-gray text-sm font-semibold lg:text-xs">Share</span>
    </button>
</div>