<script>
    export let serviceLocation;
</script>

<section class="lg:bg-white lg:mb-3">
    <div class="rating-container border-b border-gray-300 flex flex-col py-4 lg:p-3 lg:justify-start">
        <div class="flex items-center w-full justify-center rating-box lg:order-last lg:justify-start">
            <p class="text-base rating-number mr-1">4.7</p>
            <div class="align-middle rating-stars">
                <input name="select" id="star5" type="radio" class="hidden star"  value="5" />
                <label class="inline-block" for="star5"></label>
                <input name="select" id="star4" type="radio" class="hidden star"  value="4" />
                <label class="active inline-block" for="star4"></label>
                <input name="select" id="star3" type="radio" class="hidden star"  value="3" />
                <label class="active inline-block" for="star3"></label>
                <input name="select" id="star2" type="radio" class="hidden star"  value="2" />
                <label class="active inline-block" for="star2"></label>
                <input name="select" id="star1" type="radio" class="hidden star"  value="1" />
                <label class="active inline-block" for="star1"></label>
            </div>
        </div>
        <p class="w-full text-center text-fb-gray text-sm lg:order-1 lg:text-left block">{@html serviceLocation}</p>
    </div>
</section>