<script>
	import NewsFeedCTA from './NewsFeedCTA.svelte';
	import DesktopCommentArea from './DesktopCommentArea.svelte';

	import { afterUpdate } from 'svelte';

    let postItems = [];
    let postItemsReversed = [];
    let newPost = '';

    function addPost() {
        newPost = newPost.trim();

        if (!newPost) return;
        const post = {
            text: newPost,
            id: Date.now(),
        };

        postItems = [...postItems, post];

        // reverse array to view newest on top
        postItemsReversed = postItems.slice().reverse();
        newPost = '';
    }
</script>

<section class="hidden lg:block write-something w-full mb-3">
	<div class="call-to-actions flex flex-row items-center justify-start p-3 bg-gray-100 h-10">
		<a class="cta-button block flex items-center justify-center flex-row hover:opacity-75 mr-2" href="#">
			<i class="material-icons text-fb-blue text-base mr-1">account_box</i>
			<span class="text-gray-500 text-xs font-semibold">Status</span>
		</a>
		<a class="cta-button block flex items-center justify-center flex-row hover:opacity-75" href="#">
			<i class="material-icons text-orange-500 text-base mr-1">photo</i>
			<span class="text-fb-blue text-xs font-semibold">Photo/Video</span>
		</a>
		<a class="cta-button block flex items-center justify-center flex-row hover:opacity-75 ml-auto" href="#">
			<img class="block h-4" src="{$$props.userPhoto}" alt="">
			<i class="material-icons text-gray-500 text-2xl">arrow_drop_down</i>
		</a>
	</div>
	<div class="text-area flex flex-row items-center justify-start p-3 bg-white">
		<a class="block flex items-center mr-4" href="#">
			<img class="block h-10" src="{$$props.userPhoto}" alt="">
		</a>
		<form class="w-full" on:submit|preventDefault={addPost}>
			<input class="input-field w-full p-3 text-sm placeholder-fb-gray focus:outline-none focus:placeholder-gray-300" placeholder="Write something on this Page..." name="" id="" rows="1" bind:value={newPost} />
		</form>
	</div>
</section>

<!-- new post render -->

{#each postItemsReversed as post (post.id) }
<section class="my-3 news-feed pl-4 pr-3 pt-4 lg:mb-0 lg:p-3 bg-white lg:rounded lg:rounded-br-none" >
    <div class="profile-news-feed w-full flex flex-row items-center justify-start pr-5 mb-4">
        <div class="profile-picture-container border mr-3">
            <a href="#" class="block">
                <img src="{$$props.userPhoto}" alt="" class="h-auto align-middle" />
            </a>
        </div>
        <div class="profile-name">
            <div class="flex rating-box flex-col">
                <p class="text-base align-middle font-semibold flex items-center">
                    <a class="hover:underline"href="#">{$$props.userName}</a>
                    <span class="material-icons">arrow_right</span>
                    <a class="hover:underline"href="#">{$$props.profileName}</a>
                </p>
                <p class="tracking-tight text-sm text-fb-gray flex items-center"><span class="mr-1">Just now</span> &middot;<i class="material-icons ml-1 text-sm text-fb-gray">public</i></p>
            </div>
        </div>
    </div>
    <div class="text-news-feed mb-4">
        <p class="break-words mb-3">{post.text}</p>
    </div>
    <NewsFeedCTA />
</section>

{#if $$props.viewport = 'desktop' }
    <DesktopCommentArea userPhoto={$$props.userPhoto} userName={$$props.userName} />
{/if}

{/each}