@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, * {
	@apply font-serif;
}

html {
	@apply h-full;
}

body {
	@apply min-h-full;
}

/* transition hover */

a, button, i, span {
	-o-transition: 0.4s all ease;
	-ms-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

/* desktop styles */

.search-icon-desktop {
	font-size: 21px;
}

.nav-desktop {
	height: 40px;
}

.nav-desktop .profile-picture {
	max-width: 24px;
}

.border-lightest {
	border-color: rgba(0, 0, 0, .1);
}

.left-sidebar {
/*	position: fixed;
	top: 40px;
	width: 205px;*/
	padding-top: 50px;
}

.left-sidebar .profile-details {
	height: max-content;
}

.left-sidebar .profile-picture img {
	max-width: 172px;
}

.left-sidebar .profile-links .link-item {
	border-left: 3px solid transparent;
}

.left-sidebar .profile-links .link-item:hover,
.left-sidebar .profile-links .active,
.left-sidebar .profile-links .active:hover {
	@apply font-normal bg-fb-tabs-hover;
	border-left: 3px solid transparent;
	@apply border-fb-blue;
}

.left-sidebar .profile-links .active,
.left-sidebar .profile-links .active:hover {
	@apply font-semibold;
}

/*.main-desktop {
	margin-left: 205px;
}*/

.main-desktop .cover-photo {
	height: 320px;
}

.main-desktop .call-to-actions .cta-button,
.main-desktop #contact-us {
	height: 28px;
}

.main-desktop .cover-photo-cta-container .cta-button:hover {
	@apply bg-gray-200;
}


.main-desktop .profile-news-feed .profile-picture-container {
	max-width: 42px;
}

.gallery-images img {
	width: 95px;
}

.like-button.active {
	opacity: 1 !important;
}

.like-button.active .thumbs_up_icon,
.like-button.active span {
	@apply text-fb-blue;
}

.comment-image {
	min-width: 30px;
}

/* sticky header */

.sticky-header .nav-desktop {
	@apply fixed top-0 w-full;
}

.sticky-header .main-desktop {
	padding-top: 40px;
}

/* mobile styles */

.nav-mobile {
	height: 50px;
}

.back-arrow {
	left: 15px;
}

#search:focus,
#search:active {
	@apply text-left;
}

.facebook-logo-icon {
	font-size: 24px !important;
}

.cover-photo {
	background: url('../images/cover-photo.jpg') center center / cover no-repeat rgb(216, 220, 230);
}

@media only screen and (max-width: 1023px) {
	.cover-photo {
		height: 430px;
	}

	.profile-picture-container,
	.profile-picture {
		width: 75px;
	}

	.profile-followers-picture-container,
	.profile-news-feed .profile-picture-container {
		max-width: 60px;
	}

	.cta-button {
		width: 50px;
		height: 50px;
	}

	/* gallery */

	.gallery-images img {
		min-width: 140px;
	}
}

@media only screen and (max-width: 600px) {
	.cover-photo {
		height: 240px;
	}
}

.verified-profile {
	color: #7f7f7f;
}

.rating-stars {
	direction: rtl;
}

.rating-box label {
	background-color: transparent;
	cursor: pointer;
}

.rating-box label::before {
	content: "\2605";
	font-size: 20px;
	@apply text-fb-tabs-hover;
}

.rating-box label:hover::before,
.rating-box label:hover ~ label::before,
.rating-box label.active::before,
.rating-number {
	color: #5a91ff;
}

.profile-picture-container img,
.profile-news-feed .profile-picture-container img,
.image-card.border {
	border-color: rgba(0,0,0,0.098039);
}

.call-to-actions-mobile .like-button.active span,
.call-to-actions-mobile .like-button.active .thumbs_up_icon,
.call-to-actions-mobile .follow-button.active span,
.call-to-actions-mobile .follow-button.active .follow_icon {
	@apply text-fb-lightblue;
}

/* mobile tabs area */

.mobile-tabs {
	border-bottom: 3px solid #cbcdd2;
}

.mobile-tabs .active {
	@apply text-fb-blue;
	border-bottom: 2px solid #4267b2;
}

/* ratings section */

.review-ratings .rating-box label::before {
	font-size: 32px;
}
